<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Dead Redemption Map | Ichoui®</title>
    <link rel="icon" type="image/ico" href="/resources/img/favicon-rdr2.ico">
    <link rel="stylesheet" type="text/css" href="resources/css/leaflet.css">
    <link rel="stylesheet" type="text/css" href="resources/css/app.css">
</head>
<body>

<div id="menubar">
    <span class="title">RED DEAD REDEMPTION 2 - MAP</span>
</div>
<div id="menu-panel" class="clearboth">
    <div class="copyrights">
        <div>
            <strong>Credits to : </strong>
            <ul>
                <li>Le Petit (Developper)</li>
                <li>Tarti (Map Builder)</li>
                <li>Zaetan (\'cause he\'s in our party every night)</li>
            </ul>
        </div>
        <div>All of the content belongs to <a href="https://www.rockstargames.com/reddeadredemption2/">Rockstar Games</a></div>
    </div>
</div>
<div id="map" class="clearboth"></div>
</body>

<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/leaflet-src.js"></script>
<script src="/resources/js/map.js"></script>
<script src="/resources/js/page.js"></script>
</html>

