<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Dead Redemption Map | Ichoui®</title>
    <link rel="icon" type="image/ico" href="resources/img/favicon-rdr2.ico">
    <link rel="stylesheet" type="text/css" href="resources/css/leaflet.css">
    <link rel="stylesheet" type="text/css" href="resources/css/leaflet.fullscreen.css">
    <link rel="stylesheet" type="text/css" href="resources/css/app.css">
</head>
<body>

<div id="menubar" class="navbar">
    <span class="title">RED DEAD REDEMPTION 2 - MAP</span>
    <div class="nav navbar-nav navbar-right">
    <a href="#" class="register">S'enregistrer</a>
    <a href="#" class="login">Connexion</a>
    </div>
</div>
<div id="menu-panel" class="clearboth">
    <div class="copyrights">
        <hr>
        Credits to :
        <ul>
            <li>Le Petit <span>(Developper)</span></li>
            <li>Tarti <span>(Map Builder)</span></li>
            <li>Zaetan <span>('cause he's in our PS4 party every night)</span></li>
        </ul>
        <div>All of the content belongs to <a href="https://www.rockstargames.com/reddeadredemption2/" title="Rockstar Games">Rockstar&nbsp;Games</a></div>
    </div>
</div>
<div id="map" class="clearboth"></div>

<div class="popup connexion">
    <div class="popin-content">
        <div class="close-popin"><span class="icon-close"></span></div>
        <form action="">
            <div>
                <input type="text" id="pseudo-log" placeholder="Pseudonyme">
            </div>
            <div>
                <input type="password" id="password-log" placeholder="Mot de passe">
            </div>
            <button type="submit">Se connecter</button>
        </form>
    </div>
</div>
<div class="popup enregistrer">
    <div class="popin-content">
        <div class="close-popin"><span class="icon-close"></span></div>
        <form action="">
            <div>
                <input type="text" id="pseudo-reg" placeholder="Pseudonyme">
            </div>
            <div>
                <input type="email" id="mail-reg" placeholder="Email">
            </div>
            <div>
                <input type="password" id="password-reg" placeholder="Mot de passe">
            </div>
            <button type="submit">S'inscrire</button>
        </form>
    </div>
</div>
</body>

<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/leaflet-src.js"></script>
<script src="/resources/js/Leaflet.fullscreen.min.js"></script>
<script src="/resources/js/map.js"></script>
<script src="/resources/js/page.js"></script>
</html>

