<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Dead Redemption Map | Ichoui®</title>
    <link rel="icon" type="image/ico" href="/resources/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="resources/css/app.css">
    <link rel="stylesheet" type="text/css" href="resources/css/leaflet.css">

</head>
<body>

<div>
    RED DEAD REDEMPTION MAP SANDBOX
</div>

<div id="map"><span class="loading">loading tiles...</span></div>


</body>

<script src="/resources/js/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script src="/resources/js/fullpage.js"></script>
<!--<script src="/resources/js/leaflet-src.js"></script>-->
<!--<script src="/resources/js/leaflet-src.esm.js"></script>-->
<script src="/resources/js/leaflet.js"></script>

</html>

