$height-contenu: 90vh;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menubar {
  height: calc(98vh - #{$height-contenu});
  text-align: center;
}

#menu-panel {
  position: relative;
  float:left;
  width:20vw;
  height:$height-contenu;
  border:1px solid grey;
  .credits {
    position: absolute;
    text-align:center;
    bottom:0;
  }
}

#map {
  float:left;
  height:$height-contenu;
  width:75vw;
}

.clearboth:after {
  clear:both;
  content:'';
}

// Modif CSS leaflet

.leaflet-left {
  right:5px;
  left:unset;
}
.leaflet-right {
  left: 0;
  right:unset;
}



.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  background: #fff;
  border-radius: 5px;
}
.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}
.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}
.leaflet-control-layers label {
  display: block;
}
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}