$height-contenu: 90vh;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menubar {
  height: calc(98vh - #{$height-contenu});
  text-align: center;
}

#menu-panel {
  position: relative;
  float:left;
  width:20vw;
  height:$height-contenu;
  border:1px solid grey;
  .credits {
    position: absolute;
    text-align:center;
    bottom:0;
  }
}

#map {
  float:left;
  height:$height-contenu;
  width:75vw;
}

.clearboth:after {
  clear:both;
  content:'';
}
