@import '../scss/config';

$height-contenu: 90vh;

#menubar {
  height: calc(95vh - #{$height-contenu});
  display: flex;
  align-items: center;
  background-color: $rdr2-black;
  min-height: 50px;
  .title {
    text-align: left;
    margin-left: 10px;
    font-size: 1.3em;
    color: white;
    &:hover {
      color: $rdr2-red-title;
      cursor: pointer;
    }

  }
}

#menu-panel {
  position: relative;
  float: left;
  width: 20vw;
  height: $height-contenu;
  z-index: 404;
  box-shadow: 3px 1px 18px 1px $rdr2-bgc;
  .copyrights {
    position: absolute;
    text-align: justify;
    bottom: 2px;
    font-size: .88em;
    padding: 0 8px;
    hr {
      border-bottom: 1px solid white;
    }
    a {
      color: $rockstar-brand;
    }
    span {
      font-size: .8em;
    }
  }
}

#map {
  float: left;
  height: $height-contenu;
  width: 75vw;
}

.clearboth:after {
  clear: both;
  content: '';
}

//############ Modif CSS leaflet ###########

// Classe mutuelle à leaflet-left & right
.leaflet-top {
  position: unset;
}

// -> Zoom + / -
.leaflet-left {
  right: 5px;
  left: unset;
  position: absolute !important;
  .leaflet-control {
    border: 2px solid $rdr2-bgc;
    a {
      color: $rdr2-bgc
    }
    a.leaflet-disabled {
      color: white;
      background-color: $rdr2-bgc;
    }
  }
}

// -> Menu
.leaflet-right {
  .leaflet-control {
    float: none !important;
  }
  form.leaflet-control-layers-list {
    label {
      display: block;
    }
    .leaflet-control-layers-overlays {
      padding: 10px;
      div {
        input {
          display: none;
        }
        span {
          .iconic {
            font-size: 1.5em;
            color: $rdr2-red-light;
            padding-right: 8px;
          }
          &:hover {
            cursor: pointer;
            .iconic {
              color: $rdr2-white;

            }
          }
        }
      }
    }
  }
}

